:root {
	--main-color: #7699d4;
	--main-fonts-color: #fff;
	--font-size-for-large-screen: 30px;
	--font-size-for-small-screen: 20px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'DM Sans', sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
	border-radius: 6px;
	padding: 20px;
}
.input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	border-radius: 6px;
	caret-color: var(--main-color);
	color: var(--main-color);
	margin-right: 10px;
	padding: 10px;
	font-size: var(--font-size-for-large-screen);
}
.add {
	border: none;
	outline: none;
	border-radius: 6px;
	color: var(--main-fonts-color);
	font-size: var(--font-size-for-large-screen);
	font-weight: bold;
	cursor: pointer;
	background-color: var(--main-color);
	transition: all 0.3s ease-in-out;
}
.add:hover {
	text-decoration: underline;
	transform: scale(1.1);
}
.tasks {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
	margin: 10px 0;
	border-radius: 6px;
	padding: 20px;
}
.tasks div {
	width: 100%;
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #6781af;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 10px;
	color: var(--main-fonts-color);
	font-size: var(--font-size-for-large-screen);
	transition: all 0.3s ease-in-out;
}
.task .description {
	height: 100%;
	width: 85%;
	word-wrap: break-word;
}
.description.finished {
	text-decoration: line-through;
}
.tasks .task .delete,
.clear {
	display: inline-block;
	border: none;
	outline: none;
	border-radius: 6px;
	color: var(--main-fonts-color);
	font-size: var(--font-size-for-large-screen);
	cursor: pointer;
	background-color: #dc3545;
	padding: 10px;
	margin-left: 10px;
	vertical-align: middle;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
.delete:hover,
.clear:hover {
	background-color: #bb2d3b;
}
@media screen and (max-width: 768px) {
	.form {
		height: 50px;
		padding: 10px;
		min-width: 300px;
	}

	.input {
		font-size: var(--font-size-for-small-screen);
	}

	.add {
		font-size: var(--font-size-for-small-screen);
	}
	.tasks {
		padding: 10px;
		min-width: 300px;
	}
	.tasks div {
		min-height: 50px;
		padding: 10px;
		font-size: var(--font-size-for-small-screen);
	}
	.tasks .task .delete,
	.clear {
		font-size: var(--font-size-for-small-screen);
	}
	.task .description {
		width: 68%;
	}
}
.hide {
	display: none;
}
